services:
  neo4j:
    image: neo4j:5
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: neo4j/C1SMwzwc0L-WGyvJCACkrTfORDs0Yq3IH4nxND6Y-Ns

  vector-db:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
